header .logo {

    margin: 1vh 0 0%;
}
.contactPage{
    width: 90%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .information{
        width: 40%;
        display: flex;
        flex-direction: column;
        height: 80%;
        align-content: center;
        margin-top: auto;
        margin-bottom: auto;
        h2{
            font-weight: 600;
            font-size: 2.3em;
            color: #4F4F4F;
        }
        & > p{
            color: grey;
            font-size: 1.2em;
            margin-top: 20px;
            line-height: 1.6em;
        }
        .itemsC{
            margin-top: auto;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            
            .item{
                width: 400px;
                height: 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border: 2px solid transparent;
                margin-bottom: 15px;
                padding: 10px;
                color: #4F4F4F;
                border-radius: 10px;

                img{
                    width: 40px;
                    margin-right: 10px;
                }
                span{
                    font-size: 1.2em;
                }

                &:hover{
                    border: 2px solid #E79D6C;
                    transition-duration: 0.5s;
                    cursor: pointer;
                    background: #dd74300d;
                }
            }
        }
    }
    form{
        width: 450px;
        padding: 40px 30px 40px 30px;
        height: auto;
        background: #E79D6C;
        margin: auto 0 auto auto;
        border-radius: 20px;
        color: #b5b5b5;
        background: #ffffff;
        box-shadow: #0000001f -2px 4px 20px 2px;
        overflow: hidden;

        .buttonC{
            width: 95%;
            margin: auto auto 0px auto;
            margin-top: 50px;

            button{
                background: #E79D6C;
                color: #ffffff;
                font-weight: 400;
                font-size: .9em;
                padding: 8px 32px 8px 32px;
                border: 2px solid transparent;
                border-radius: 5px;

                &:hover{
                    background-color: transparent;
                    border: 2px solid #E79D6C;
                    color: #E79D6C;
                    transition-duration: 0.5s;
                }
            }
        }
        .inputC{
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            width: 95%;
            margin: 0 auto 30px auto;
            & > span {
                font-size: 1.1em;
                font-weight: 500;
            }
            .inputE{
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                border: 2px solid #ebebeb;
                height: 30px;
                padding: 5px 0 5px 0;
                border-radius: 5px;
                position: relative;
                opacity: .5;
               transition-duration: 0.5s;
                &:focus-within{
                    opacity: 1;
                }
                img{
                    width: 25px;
                    position: absolute;
                    left: 3px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
                input{
                    background: transparent;
                    border: none;
                    height: 100%;
                    font-size: 1.1em;
                    width: 86%;
                    padding: 0 7% 0 7% ;
                    color: black;
                }
            }

            textarea{
                width: 90%;
                height: 140px;
                margin-top: 15px;
                resize: none;
                border: none;
                background: #9998980d;
                padding: 5%;
                font-size: 1.2em;
                color: black;
                &::placeholder{
                    color: rgba(34, 15, 15, 0.526);
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .contactPage{
        height: auto;
        padding: 50px 0 50px 0;
        form{
            width: 350px;

            .buttonC{
                margin-top: 20px;
            }
            .inputC{
                textarea{
                    height: 100px;
                }
            }

        }
    }
}

@media (max-width: 980px) {
    .contactPage{
        flex-direction: column;

        .information{
            width: 90%;
        }
        form{
            margin: auto;
            width: 80%;
            max-width: 650px;
            .buttonC{

            }
            .inputC{
                textarea{

                }
            }

        }
    }
}