@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*Base Configuration*/
html {
    scroll-behavior: smooth;
}

:root {
    --orange: #E79D6C;
    --lightOrange: #E79D6C;
    --grey: #818386;
}

a:visited, a:active {
    color: inherit;
}

a:hover {
    cursor: pointer;
}

body {
    font-family: 'Merriweather', serif;
    font-family: 'KoHo', sans-serif;
}

/*Loading Screen*/

.loadingScreen {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .loadingScreen .logo {
        width: 200px;
        height: auto;
    }

#loader {
    /* Uncomment this to make it run! */
    /*
       animation: loader 5s linear infinite; 
    */

    position: relative;
}

@keyframes loader {
    0% {
        left: -100px
    }

    100% {
        left: 110%;
    }
}

#box {
    width: 50px;
    height: 50px;
    background: var(--lightOrange);
    animation: animate .5s linear infinite;
    margin-top: 50px;
    border-radius: 3px;
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1,.9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

#shadow {
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 110px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

@keyframes shadow {
    50% {
        transform: scale(1.2,1);
    }
}

/*_____________________________________________
___________LANDINGPAGE AND HEADER 
*/

header .logo {
    width: 110px;
    margin: 1vh 0 0 4%;
}


header {
    margin-top: 2vh;
    display: flex;
    height: 18vh;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: white;
}

.bigImg {
    position: relative;
    width: auto;
    height: 50vh;
    width: 90%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
    background-image: url("/Resources/Images/people-negotiating-about-blueprint-house.jpg");
    background-size: cover;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;

}

.bigImg #absBG{
    width: 100%;
    height: auto;
    opacity: .7;
    z-index: -1;
    position: absolute;
}

.landingpage {
    background: rgba(255, 255, 255, 0);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

header nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: auto 5vh auto 0;
}

    header nav a {
        text-decoration: none;
        font-size: 1.3em;
        color: rgb(0, 0, 0);
        margin: auto 2vh auto 2vh;
        font-weight: 500;
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: 2px solid transparent;
    }
    header nav a span{
        color: #000000c4;
    }

    header nav a img {
      width: 25px;
      margin-right: 6px;
      opacity: .6;
    }
    header nav a:hover {
        border-bottom: 2px solid #E79D6C;
        transition-duration: 0.5s;
      }

.flexRow2 {
    display: none;
    flex-direction: row;
    position: fixed;
    right: 5px;
    width: auto;
    height: 50px;
}

.lang {
    border: 1px solid transparent;
    width: 35px;
    height: 35px;
    box-shadow: none;
    padding: 10px;
    margin-right: 10px;
}

    .lang img {
        width: 100%;
    }

    .lang .dropdown-content span {
        color: white;
        font-size: 1.8em;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 5px;
    }

        .lang .dropdown-content span:hover {
            transform: scale(1.1);
            transition-duration: 0.5s;
        }

.contactBT {
    color: white;
    box-shadow: #00000012 1px 2px 3px;
    padding: 4px 9px 4px 9px;
    background: #E79D6C;
    border: 2px solid #E79D6C;
}

    .contactBT:hover {
        background: none;
        border: 2px solid #DD7430;
        transition-duration: 0.5s;
        color: #DD7430;
    }

.landingpage h1 {
    font-size: 3.5em;
    margin: 5% auto 0 auto;
    color: white;
    width: 70%;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.3em;
    position: relative;
    z-index: 1;
}

.searchbar {
    display: flex;
    flex-direction: row;
    width: 70%;
    color: white;
    text-align: left;
    height: 7vh;
    align-items: center;
    background: rgb(0 0 0 / 30%);
    padding: 0 0 0 0%;
    margin: 5% auto 0 auto;
    position: relative;
    z-index: 1;
}

    .searchbar .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-right: 1px solid rgba(255,255,255,0.5);
        padding-right: 20px;
        padding-left: 20px;
        height: 100%;
    }
    .searchbar .dropdown{
     position: relative;
    display: flex;
     padding: 0px;
     border:none;
    color: #ffffff;
    align-content: center;
    align-items: center;
     font-weight: 400; 
     font-size: 1.2em;
    box-shadow: none;
    }

        .searchbar div:hover {
            cursor: pointer;
        }

        .searchbar div p {
            font-size: 1.3em;
        }
        .searchbar .sort {
            width: 15%;
            font-size: 1.3em;
            color: white;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            text-align: left;
            border-right: 1px solid rgba(255, 255, 255, 0.22è);
            padding-right: 25px;
                padding-left: 10px;
                background: rgb(0 0 0 / 30%);
          }
          
          .searchbar .sort img {
            width: 22px;
            height: auto;
          }
          
          .searchbar .sort span {
            width: 90%;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-weight: 400;
            font-size: 1.1em;
            padding-left: 10%;
          }
          .sort .dropdown-content span{
              line-height: 2.4em;
          }
          .sort:hover .hoverA, .sort:hover{
           
            transition-duration: 0.5s;
          }
.SellOrBuy {
    width: 20%;
}

.searchbar .Type {
    width: 20%;
}

.searchbar .Location {
    width: 60%;
    justify-content: left;
    border: none;
    background: rgb(0 0 0 / 30%);
}
.searchbar .Location input {
    width: 100%;
    height: 90%;
    background: transparent;
    justify-content: left;
    font-size: 1.2em;
    border: none;
    font-weight: 400;
    color: white;
}
.searchbar .Location input::placeholder{
    color: #F4F4F4;

}
    .searchbar .Location img {
        width: 50px;
        height: 50px;
    }

.searchbar .buttonSearch {
    width: 10%;
    justify-content: left;
    border-right: none;
    background: #da8852;
    padding-right: 30px;
    min-width: 85px;
}
.searchbar .buttonSearch img {
    margin-left: 20px;
}
    .searchbar .Location img {
        margin-right: 20px;
    }

.searchbar div img {
    width: 30px;
    height: 30px;
}

.searchbar div .right {
}

.homeCards{
    width: 40%;
    display: flex;
    flex-direction: row;
    margin: 5% auto 0 auto;
    justify-content: space-between;

}

.homeCards .homeCElement{
    width: 250px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: #00000008 4px 5px 20px 9px;
    padding: 30px;
    border-radius: 5px;
}
.homeCards .homeCElement .head {
    display: flex;
    flex-direction: row;
    color: black;
    font-weight: 500;
    width: 100%;
    font-size: 1.4em;
    align-items: center;
    margin-bottom:10px;
}
.homeCards .homeCElement .body{
    color: rgba(0, 0, 0, 0.685);
}
.homeCards .homeCElement img{
    height: 30px;
    width: 30px;
    padding: 5px;
    display: flex;
    background: #E79D6C;
    border-radius: 3px;
    margin-right: 12px;
}

/*_____________________________________________
___________Choose type of property
*/
.typeOfProperty {
    height: fit-content;
    position: relative;
    background: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



    .typeOfProperty .pageHead {
        height: fit-content;
        width: 100%;
        display: flex;
    }

        .typeOfProperty .pageHead h1 {
            padding: 5vh 0 0vh 0;
            font-size: 2em;
            width: 100%;
            text-align: center;
            font-weight: bold;
            color: #555;
            opacity: 0.6;
            margin: 2% 0 2%;
        }

.cardContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    color: white;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 90vh;
    align-items: center;
}

.card {
    width: 400px;
    z-index: 2;
    border-radius: 0px;
    height: 43vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
    transition-duration: 0.5s;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: #00000029 3px 3px 11px 0px;
}

    .card img {
        overflow: hidden;
        width: auto;
        height: 100%;
        min-width: 100%;
        opacity: 0.6;
        z-index: -1;
    }

    .card h3 {
        color: white;
        font-size: 2.7rem;
        margin: 3vh 0 3vh 2vh;
        position: absolute;
        z-index: 100;
        font-weight: bold;
        text-transform: uppercase;
        user-select: none;
    }


    .card:hover{
        cursor: pointer;
    }









/*_____________________________________________
___________Section what we do
*/
.whatwedo {
    height: auto;
    width: 100%;
    display: flex;
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding-bottom: 5%;
    background-color: rgb(31, 31, 31);
    justify-content: space-between;
    align-items: center;
}

.imageBg {
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 0;
    opacity: 0.1;
}

.fadingImageContainer {
    width: 40%;
    z-index: 1;
    position: relative;
}

    .fadingImageContainer img:hover {
        cursor: pointer;
    }

    .fadingImageContainer img {
        width: 100%;
        opacity: 0.4;
        display: flex;
    }

        .fadingImageContainer img:nth-child(1) {
            margin-bottom: 20%;
        }

        .fadingImageContainer img:nth-child(2) {
            position: absolute;
            left: 10%;
            top: 20%;
            opacity: 1;
            transition-duration: 0.5s;
        }

.whatwedo .textContainer {
    width: 40%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: white;
}

.textContainer {
    position: relative;
}

    .textContainer h2 {
        font-size: 3em;
        font-weight: 600;
        margin-bottom: 5%;
    }

    .textContainer p {
        font-size: 1.8em;
        font-weight: 400;
        line-height: 1.4em;
        margin-bottom: 3%;
    }

    .textContainer a {
        color: var(--lightOrange);
        font-size: 1.8em;
    }

.verticalLine {
    height: 100%;
    width: 2px;
    background: var(--lightOrange);
    position: absolute;
    left: -10%;
}

/*Exclusive Properties*/
.exclusiveProperties {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2;
    scroll-behavior: smooth;
}

.plusshape {
    opacity: .5;
}

.exclusiveProperties h2 {
    font-size: 2.2em;
    font-weight: 400;
    width: 94%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 1%;
}

.propertiesContainer {
    display: flex;
    width: 98%;
    margin: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 20px 0 20px 0;
}
    /* width */
    .propertiesContainer::-webkit-scrollbar {
        width: 2px;
        height: 0px;
    }

    /* Track */
    .propertiesContainer::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .propertiesContainer::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        .propertiesContainer::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    .propertiesContainer .empty {
        height: inherit;
        box-shadow: none;
    }

.property {
    width: 40%;
    min-width: 40%;
    position: relative;
    z-index: 1;
    box-shadow: 3px 3px 20px 0px #00000024;
    height: fit-content;
    margin-right: 10%;
}

    .property:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition-duration: 0.5s;
    }

    .property > img {
        width: 100%;
    }

    .property .propFoot {
        position: absolute;
        display: flex;
        bottom: 0px;
        height: 25%;
        color: white;
        width: 100%;
        background: rgba(39, 39, 39, 0.514);
    }

.footVector {
    width: 300px;
    height: auto;
    bottom: 0%;
    right: 0;
    position: absolute;
    opacity: .4;
}

.propIntro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}

    .propIntro p:nth-child(1) {
        font-weight: 400;
        margin-left: 5%;
        font-size: 1.2em;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    }

    .propIntro p:nth-child(2) {
        font-weight: 400;
        margin-left: 5%;
        font-size: 2em;
    }

.propAttribute {
    display: flex;
    margin: auto;
    margin-right: 5%;
}

    .propAttribute img {
        width: auto;
        height: 30px;
        margin: auto;
        margin-right: 15%;
    }

    .propAttribute p {
        font-size: 1.3em;
        font-weight: 300;
        margin: auto;
    }

.propertiesSC {
    width: fit-content;
    margin: auto;
    margin-top: 1%;
    display: flex;
}

.shortcut {
    width: 15px;
    height: 15px;
    clip-path: circle(50% at 50% 50%);
    background: #d6d6d6ab;
    margin-right: 15px;
}

    .shortcut:hover {
        cursor: pointer;
        background: #d6d6d6;
    }


/*endOfPage*/

.endOfPage {
    overflow-y: visible;
    height: 74vh;
    width: 100%;
    position: relative;
}

    .endOfPage .successStory {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5%;
        width: 90%;
        margin: auto;
        justify-content: space-around;
        align-items: center;
    }

.successStory .story {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story img {
    width: 90px;
    height: auto;
}

.story .numberBig {
    font-size: 1.5em;
    margin: 3% auto 5% auto;
}

.story p {
    color: #E79D6C;
    font-weight: 500;
    font-size: 1.1em;
}

/*Form*/
.mainForm {
    margin: auto;
    margin-top: 5%;
    width: 70%;
    height: 500px;
    background: var(--orange);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    clip-path: polygon(95% 0, 100% 11%, 100% 100%, 0 100%, 0 0);
}

.bg-cover {
    width: 100%;
    height: auto;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: .1;
}

.mainForm .info {
    width: 30%;
    position: relative;
    z-index: 1;
    height: 80%;
}

    .mainForm .info .whiteLine {
        width: 4px;
        height: 100%;
        position: absolute;
        left: -5%;
        top: 0;
        background: white;
    }

    .mainForm .info h2 {
        font-size: 2em;
        font-weight: 600;
        color: white;
        margin-bottom: 5%;
        margin-top: 2%;
        text-transform: uppercase;
    }

    .mainForm .info p {
        color: white;
        font-size: 1.1em;
        line-height: 1.5em;
    }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.mainForm .inputs {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-around;
    justify-content: space-between;
    z-index: 1;
}

.mainForm input {
    padding: 10px;
    border: 1px solid var(--orange);
    font-size: 1.1em;
    border-radius: 3px;
    background: white;
    height: 30px;
}

    .mainForm input:focus {
        border: 1px solid var(--grey);
    }

    .mainForm input::placeholder {
    }

.mainForm button {
    height: 50px;
    border: 2px solid black;
    background: black;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0);
    color: white;
}
/*Footer*/
footer {
    background: rgba(0, 0, 0, 0.884);
    color: white;
    overflow: hidden;
    max-width: 100%;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.compIntro img {
    width: 40%;
    margin-bottom: 9%;
}

.compIntro p {
    font-size: 1em;
    line-height: 1.8em;
}

.footCont .flexCol {
    width: 22%;
}

    .footCont .flexCol h3 {
        font-weight: 600;
        font-size: 1.3em;
        margin-bottom: 10%;
    }

.footCont .sitemap a {
    color: rgba(255, 255, 255, 0.692);
    margin-bottom: 5%;
    font-size: 1.1em;
}

.gegevens p {
    margin-bottom: 5%;
    font-size: 1em;
    height: fit-content;
    display: flex;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.gegevens p:link, .gegevens p:visited {
    color: white;
}

.gegevens p:hover {
    color: white;
}

.gegevens p img {
    height: 30px;
    width: 30px;
    align-content: center;
    margin-right: 10px;
}

.openingsuur {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
}

    .openingsuur p:nth-child(1) {
        color: var(--orange);
        margin-right: 20px;
    }

.flexCol {
    display: flex;
    flex-direction: column;
}


.footCont {
    padding-top: 30%;
}

.footfoot {
    padding: 5% 0 5%;
}

    .footfoot .socialmedia img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        opacity: .8;
    }

.menuB {
    width: 42px;
    height: 42px;
    padding: 10px;
    display: flex;
}

    .menuB:hover {
        cursor: pointer;
    }

    .menuB img {
        width: 100%;
    }

.menuWrapper {
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: none;
    flex-direction: row;
    position: fixed;
    overflow: hidden;
}

    .menuWrapper .menu {
        width: 50%;
        min-width: 350px;
        background: #1E1E1E;
        box-shadow: 5px 2px 16px #000000bd;
        display: flex;
        flex-direction: column;
    }

        .menuWrapper .menu .header {
            width: 90%;
            margin: 20px auto 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

            .menuWrapper .menu .header img {
                height: 50px;
                width: auto;
                opacity: .8;
            }

        .menuWrapper .menu .body {
            width: 90%;
            margin: 40px auto 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

            .menuWrapper .menu .body a {
                color: white;
                font-size: 1.5em;
                padding: 15px;
                font-weight: 400;
                text-transform: lowercase;
            }

            .menuWrapper .menu .body .current {
                /*  border-bottom: 1px solid #E79D6C;*/
                color: #E79D6C;
            }

        .menuWrapper .menu .footer {
            width: 90%;
            margin: 40px auto 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

            .menuWrapper .menu .footer a {
                color: #ffffff61;
                font-size: 1.5em;
                padding: 15px;
                font-weight: 400;
                text-transform: lowercase;
            }

    .menuWrapper .hidder {
        width: 50%;
        background: rgb(24 23 23 / 62%);
        z-index: 10;
    }

/*4K*/
@media (min-width: 3800px) {
}

/*2K*/
@media (min-width: 2560px) {
}

/*Full HD*/
@media (min-width: 1900px) {
    .bigImg {
        min-width: 100%;
    }

    .landingpage h1 {
        width: 67%;
    }

    .searchbar {
        width: 60%;
    }

    .whatwedo {
        height: 100vh;
    }

    .footCont {
        padding-top: 10%;
    }
}
@media (max-width: 1600px) {
    .landingpage h1{
        font-size: 2.5em;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    .bigImg{
        margin-top: 20px;
        flex-direction: column-reverse;
    }
    .searchbar{
        font-size: .9em;
    }
    .homeCards{
        margin-top: 20px;
        width: 45%;
    }
}
@media (max-width: 1300px) {
    .typeOfProperty{
        flex-wrap: wrap;
        
    }
    .typeOfProperty .cardContainer{
        height: 150vh;
    }
    .typeOfProperty .card{
        width: 40% ;
    }
}
@media (max-width: 1200px) {
    .endOfPage {
        height: 100vh;
    }

    .successStory .story {
        width: 200px;
        height: 200px;
    }

    .mainForm .info {
        width: 40%;
    }

    .mainForm .inputs {
        width: 40%;
    }

    .footCont .flexCol {
        width: 200px;
        margin-bottom: 20px;
    }
    .homeCards{
        width: 55%;
    }
  
}
@media (max-width: 1050px) {
    header nav {
        display: none;
    }

    header .flexRow2 {
        display: flex;
    }
    .bigImg{
        width: 100%;
        border-radius: 0;
    }

    .searchbar{
        width: 90%;
    }
    .homeCards{
        width: 85%;
    }
    .landingpage h1{
        width: 95%;
    }
    .property{
        min-width: 50%;
    }
}
@media (max-width: 880px) {

    .landingpage h1{
        margin-bottom: 20px;
    }
    .property{
        min-width: 60%;
    }
    .whatwedo{
        flex-direction: column;
    }
    .whatwedo .textContainer{
        width: 80%;
    }
    .fadingImageContainer{
        width: 60%;
    }
    .typeOfProperty .card{
        width: 49%;
    }
}

@media (max-width: 700px) {
    .successStory .story {
        width: 200px;
        height: 200px;
        font-size: 1em;
    }

    .mainForm {
        margin: auto;
        margin-top: 5%;
        width: 90%;
    }

    .story p {
        color: #E79D6C;
        font-weight: 500;
        font-size: .9em;
        text-align: center;
    }

    .endOfPage .successStory {
        margin-top: 100px
    }

    .mainForm {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        clip-path: polygon(92% 0, 100% 11%, 100% 100%, 0 100%, 0 0);
    }

        .mainForm .info {
            width: 80%;
            margin-top: 40px;
        }

        .mainForm .inputs {
            width: 90%;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .mainForm input {
            margin-bottom: 10px;
        }

    .bg-cover {
        width: auto;
        height: 100%;
    }

    .bigImg {
        height: 100%;
        width: auto;
    }

    .endOfPage {
        height: 160vh;
    }

        .endOfPage .successStory {
            flex-direction: column;
        }
        .landingpage h1{
            margin-bottom: 50%;
            margin-top: 50px;
        }

        .searchbar{
            flex-wrap: wrap;
        }
        .searchbar .sort{
            width: 43%;
        }
        .searchbar .Location{
            width: 60%;
        }
        .property{
            min-width: 70%;
            font-size: .9em;
        }
        .empty{
            display: none;
        }
        .typeOfProperty .cardContainer{
            height: auto;
        }
        .typeOfProperty .card{
            width: 90%;
            max-width: 450px;
        }
}
@media (max-width: 550px) {
    .searchbar .sort{
        width: 42%;
    }
    .searchbar{
        background: transparent;
    }
    .landingpage h1{
        font-size: 2em;
        margin-top: 100px;
    }
    .searchbar .Location{
        width: 90%;
    }
    .property{
        min-width: 80%;
        font-size: .8em;
    }
}
@media (max-width: 500px) {
    .searchbar .sort{
        width: 39%;
    }
    .searchbar .Location{
        width: 85%;
    }
    .landingpage h1{
        margin-bottom: 60%;
    }
    .searchbar .sort{
        font-size: .9em;
    }
    .property{
        min-width: 90%;
        font-size: .8em;
    }
}
@media (max-width: 400px) {
   
    .searchbar .Location{
        width: 84%;
    }
    .landingpage h1{
        margin-bottom: 75%;
        margin-top: 130px;
    }
    .searchbar .sort{
        width: 38%;
    }
    .property{
        min-width: 95%;
        font-size: .8em;
    }
    .typeOfProperty .card{
        width: 100%;
        max-width: 450px;
    }
}